# Dependencies
node_modules

# Build output (will be created during build)
dist

# Development files
*.log
*.local
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# Test files
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
coverage

# Git
.git
.gitignore

# Documentation
*.md

# Cache
.eslintcache
.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo